@import "tailwindcss";

:root {
  --primary: #6b1f2d;
  --secondary: #daa520;

  /* Backgrounds */
  --bg-primary: #ffffff;
  --bg-secondary: #f1f1f1;

  /* Text */
  --text-primary: #171717;
  --text-secondary: #1d1d1d;
  --text-hover: #1c1c1c;

  /* Accent */
  --accent: #6b1f2d;

  --bg-footer: #daa520;
  --footer-text: #2c020b;
  --footer-text-secondary: #38040f;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-hover: var(--text-hover);

  --color-accent: var(--accent);

  --color-bg-footer: var(--bg-footer);
  --color-footer-text: var(--footer-text);
  --color-footer-text-secondary: var(--footer-text-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #6b1f2d;
    --secondary: #daa520;
    /* Backgrounds */
    --bg-primary: #6b1f2d;
    --bg-secondary: #2c020b;

    /* Text */
    --text-primary: #ededed;
    --text-secondary: #f1f1f1;
    --text-hover: #d1d1d1;

    /* Accent */
    --accent: #daa520;

    --bg-footer: #2c020b;
    --footer-text: #ffc532;
    --footer-text-secondary: #daa520;
  }
  .logo-image {
    content: url("/dark-logo.png");
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background: var(--bg-footer);
  color: var(--footer-text-secondary);
}
