@import "tailwindcss";

:root {
  --primary: #540d0d;
  --secondary: #eba800;

  /* Backgrounds */
  --bg-primary: #ffffff;
  --bg-secondary: #f9f9f9;

  /* Text */
  --text-primary: #171717;
  --text-secondary: #1d1d1d;
  --text-hover: #1c1c1c;

  /* Accent */
  --accent: #751b1b;

  --bg-footer: #eba800;
  --footer-text: #540d0d;
  --footer-text-secondary: #751b1b;
  --button-primary: #540d0d;
  --button-secondary: #f8bd27;
  --button-text: #ffffff;
  --button-text-secondary: #540d0d;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-hover: var(--text-hover);

  --color-accent: var(--accent);

  --color-bg-footer: var(--bg-footer);
  --color-footer-text: var(--footer-text);
  --color-footer-text-secondary: var(--footer-text-secondary);

  --color-button-primary: var(--button-primary);
  --color-button-secondary: var(--button-secondary);
  --color-button-text: var(--button-text);
  --color-button-text-secondary: var(--button-text-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lato: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #540d0d;
    --secondary: #eba800;
    /* Backgrounds */
    --bg-primary: #540d0d;
    --bg-secondary: #751b1b;

    /* Text */
    --text-primary: #ededed;
    --text-secondary: #f1f1f1;
    --text-hover: #d1d1d1;

    /* Accent */
    --accent: #f8bd27;

    --bg-footer: #540d0d;
    --footer-text: #f8bd27;
    --footer-text-secondary: #eba800;
    --button-primary: #f8bd27;
    --button-secondary: #fafafa;
    --button-text: #540d0d;
    --button-text-secondary: #751b1b;
  }
  .logo-image {
    content: url("/dark-logo.png");
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}

p {
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

footer {
  background: var(--bg-footer);
  color: var(--footer-text-secondary);
}
